:root {
	--c-gray-900: #000000;
	--c-gray-800: #1f1f1f;
	--c-gray-700: #2e2e2e;
	--c-gray-600: #313131;
	--c-gray-500: #969593;
	--c-gray-400: #a6a6a6;
	--c-gray-300: #bdbbb7;
	--c-gray-200: #f1f1f1;
	--c-gray-100: #ffffff;

	--c-green-500: #45ffbc;
	--c-olive-500: #e3ffa8;

	--c-white: var(--c-gray-100);

	--c-text-primary: var(--c-gray-100);
	--c-text-secondary: var(--c-gray-200);
	--c-text-tertiary: var(--c-gray-500);

	--c-wishky: #ad7552;
	--c-wishky-text: #a2968f;
	--c-tiles: #3a352f;
	--c-tile: #282119;
}

body {
	min-width: 300px !important;
    background-color: var(--c-tiles);
}
.modal .modal-header {
	border-bottom: var(--c-wishky) solid 1px
}
.modal .modal-header .modal-title {
	color: var(--c-wishky);
}
.modal .modal-content {
	
    background-color: #1f2224 !important;
}

.bg-whisky {
	opacity: 1;
    background-color: rgba(var(--c-wishky), 1) !important;
}

.btn-outline-whisky {
    --bs-btn-color: var(--c-wishky);
    --bs-btn-border-color: var(--c-wishky);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--c-wishky);
    --bs-btn-hover-border-color: var(--c-wishky);
    --bs-btn-focus-shadow-rgb: 25, 135, 84;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--c-wishky);
    --bs-btn-active-border-color: var(--c-wishky);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--c-wishky);
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: var(--c-wishky);
    --bs-gradient: none;
}


.line {
	height: 1px;
    background-color: var(--c-wishky) !important;
}